.unknown__container {
  padding-bottom: 30px;
  min-height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr auto;
}

.unknown__content {
  align-self: center;
}

.unknown__title {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.unknown__text {
  margin: 0;
  margin-top: 10px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.unknown__link {
  display: block;
  text-decoration: none;
  color: #4285f4;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 768px) {
  .unknown__container {
    padding-bottom: 0;
    grid-template-rows: auto auto;
  }

  .unknown__content {
    align-self: end;
  }

  .unknown__title {
    font-size: 140px;
  }

  .unknown__text {
    margin-top: 5px;
    font-size: 16px;
  }

  .unknown__link {
    margin-top: 184px;
    font-size: 14px;
  }
}
