.addMoreBtn {
  padding-bottom: 80px;
}

.addMoreBtn__element {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border-radius: 6px;
  background-color: #2f2f2f;
  border: none;
  min-height: 36px;
  min-width: 300px;
  margin: 0 auto;
  transition: opacity 250ms ease-in;
}

.addMoreBtn__element:hover,
.addMoreBtn__element:focus {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .addMoreBtn {
    padding: 0 30px 80px;
  }

  .addMoreBtn__element {
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .addMoreBtn {
    padding: 0 70px 80px;
  }
}
